<div class="article--recommend-box">
  <ul>
    <li>
      <a href="" target="_blank">
        <img src="../../assets/images/article-thumbnail.jpg" border="0" alt="" class="thumbnail"  >
        <div class="detail">
          <span class="label" >头条</span>
          <span class="title">《老友记》十年，风雨不散</span>默默安：十年老友情
        </div>
      </a>
    </li>

    <li>
      <a href="" target="_blank">
        <img src="../../assets/images/myf.png" border="0" alt="" class="thumbnail"  >
        <div class="detail">
          <span class="label" >头条</span>
          <span class="title">10月10日，给梅艳芳的一封情书</span>优粤感：生日快乐，Anital
        </div>
      </a>
    </li>


    <li>
      <a href="" target="_blank">
        <img src="../../assets/images/article-thumbnail.jpg" border="0" alt="" class="thumbnail"  >
        <div class="detail">
          <span class="label" >头条</span>
          <span class="title">有些告别永远来不几，有些话我想藏在隔离</span>花田小青年：因为一首歌的思念
        </div>
      </a>
    </li>


    <li>
      <a href="" target="_blank">
        <img src="../../assets/images/article-thumbnail.jpg" border="0" alt="" class="thumbnail"  >
        <div class="detail">
          <span class="label" >头条</span>
          <span class="title">在别人的歌里流着自己的泪</span>每一首歌都是一份回忆...
        </div>
      </a>
    </li>

  </ul>
</div>
