.swiper-container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #ffffff;
}
.swiper-container .swiper-wrapper{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  position: relative;
  box-sizing: content-box;
}

.swiper-slide{
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1px;
}
.swiper-slide img{
  width: 100%;
  position: relative;
  height: 50%;

}
.swiper-container .swiper-pagination{
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.bullet{
  width: 3px;
  height: 3px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
}
