<div class="album-recommend-box">
  <ul>
    <li ><a href=""><img src="../../assets/images/album1.jpg"   border="0"><span class="album-play"></span> <span class="album-title">每日推荐30首></span> </a></li>
    <li ><a href=""><img src="../../assets/images/album2.jpg"  border="0"><span class="album-play"></span>  <span class="album-title">听见不同></span> </a></li>
    <li ><a href=""><img src="../../assets/images/album4.jpg"  border="0"><span class="album-play"></span>  <span class="album-title">谁的民谣></span> </a></li>
  </ul>
</div>

